$border: 1px solid rgb(203, 203, 203);
$padding: 1px 3px 1px 3px;
$style-none: none;

.pagination-nos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: $style-none;
  padding: 0px;
  font-size: 18px;
  border: $border;
  border-radius: 4px;
  background-color: #ebe9e9;
  -webkit-user-select: $style-none; /* Safari */
  -ms-user-select: $style-none; /* IE 10 and IE 11 */
  user-select: $style-none; /* Standard syntax */
}
.page-nos {
  padding: $padding;
  text-decoration: $style-none;
  border-right: $border;
}
.active-page {
  background-color: blue;
  padding: $padding;
}
.page-nos-link {
  padding: 4px 8px 4px 8px;
  text-decoration: $style-none;
  color: black;
}
.active-page-link {
  @extend .page-nos-link;
  color: #ffffff;
}
.prev-tag {
  padding: $padding;
  text-decoration: $style-none;
  border-right: $border;
}
.next-tag {
  padding: $padding;
  text-decoration: $style-none;
}
.break-line {
  padding: $padding;
  color: gray;
  text-decoration: $style-none;
  border-right: $border;
}
.pages {
  border: $style-none;
  padding: 0px;
  margin: 0px;
}
.prev-link {
  @extend .page-nos-link;
  color: blue;
}
.next-link {
  @extend .prev-link;
}
.disable-prev-next {
  color: gray;
}
